@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In the MiniProject003 I have used many-to-many relationships. In this project I had to decide what is better.<br />
    Primary key consists of two foreign keys or primary key generated with identity.<br />
    I have chosen second solution, because it was better to manage table PersonsNationalities.<br />
    I have manually change every foreign key to display person name and nationality name.
</div>
